<div class="row">
    <div class="right">
        <a class="btn waves-effect waves-light blue lighten-1" href="logout">Log out</a>
    </div>
    <br>
</div>
<div class="divider"></div>
<div>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="userView">
                <a href="#!user"><img class="circle" src="images/fink.jpg"></a>
                <a href="#!name"><span id="usernameHeader" class="black-text name"><%= user.id%></span></a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="index"><i class="material-icons">account_balance</i>Home</a></li>
        <li><a href="debit"><i class="material-icons">credit_card</i>Debit</a></li>
        <li><a href="deposit"><i class="material-icons">monetization_on</i>Deposit</a></li>
        <li><a href="accountManagement"><i class="material-icons">assessment</i>Manage Account</a></li>
        <li><a href="location"><i class="material-icons">map</i>Find Nearby Branch</a></li>
        <li><a href="profile"><i class="material-icons">account_circle</i>My Profile</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">More</a></li>
        <li><a class="waves-effect" href="#!">More</a></li>
    </ul>
</div>
