<html>

<head>
    <% include partials/head %>
        <script src="/js/account_management.js"></script>
        <title>Account Management</title>
        <% include partials/shared_js %>
</head>

<body ng-app="accountManagement" ng-controller="accountManagementController" class="mainContent">
    <div>
        <% include partials/side_menu %>
    </div>
    <br>
    <div class="content">
        <!-- create new account -->
        <div class="section">
            <h5>Create New Account</h5>
            <div class="row">
                <div class="col s4">
                    <form ng-submit="createAccount(amount)">
                        <div class="row">
                            <div class="input-field ">
                                <input ng-model="amount" type="number" min="1" class="validate" required="" aria-required="true" maxlength="20">
                                <label for="amount">Amount to deposite to account</label>
                            </div>
                        </div>
                        <div class="row">
                            <button id='create_submit' class="btn waves-effect waves-light" type="submit">create</button>
                        </div>
                    </form>
                    <div ng-show="createResponse !== undefined">
                        <div class="card white">
                            <div class="card-content blue-text flow-text">
                                {{createResponse}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div ng-app="accountManagement" ng-controller="accountManagementController" ng-show="accounts[0] !== undefined">
                <div class="section">
                    <h5>Delete Account</h5>
                    <form ng-submit="deleteAccount(selectedAccount)">
                        <div class="row">
                            <div class=" input-field col s4">
                                Account Number
                                <select name="resourceTemp" ng-model="selectedAccount">
                                    <option ng-repeat="account in accounts" value="{{account.account_number}}">{{account.account_number}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- {{selectedAccount}} -->
                        <button id='delete_submit' class="btn waves-effect waves-light" type="submit">delete</button>
                    </form>
                    <div>
                        <div ng-show="deleteResponse !== undefined">
                            <div class="card white">
                                <div class="card-content red-text flow-text">
                                    {{deleteResponse}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>
