<html lang="en">

<head>
    <% include partials/head %>
        <script src="js/deposit.js"></script>
        <title>Deposit</title>
</head>

<body ng-app="deposit" ng-controller="depositController" class="mainContent">
    <div>
        <% include partials/side_menu %>
    </div>
    <br>
    <div class="content">
        <div ng-show="!accounts[0]">
            You don't have any acount yet. Go to Manage Account to create a new account.
        </div>
        <div ng-show="accounts[0]">
            <form id="depositForm" ng-submit="deposit(selectedAccount, amount)">
                <div class="row">
                    <div class=" input-field col s6">
                        Account Number
                        <select name="resourceTemp" ng-model="selectedAccount">
                            <option ng-repeat="account in accounts" value="{{account.account_number}}">{{account.account_number}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="amount" placeholder="amount you want to deposit" name="amount" ng-model="amount" type="number" min="1" class="validate" required="" aria-required="true" maxlength="20">
                        <label for="amount">Amount</label>
                    </div>
                </div>
                <!-- {{selectedAccount}} -->
                <button class="btn waves-effect waves-light" type="submit">deposit</button>
            </form>
            <div>
                <div ng-show="serverResponse !== undefined">
                    <div class="card white">
                        <div class="card-content blue-text flow-text">
                            {{serverResponse}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>
