<html lang="en">

<head>
    <% include partials/head %>
    <script src="js/deposit.js"></script>
</head>

<body ng-app="deposit" ng-controller="depositController" class="mainContent">
    <div>
    <h4>Welcome, <%= user.id%></h4>
        <nav>
            <div class="nav-wrapper blue-grey ">
                <a href="#" class="brand-logo right">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="index">Home</a></li>
                    <li><a href="balanceInquire">Balance Inquire</a></li>
                    <li><a href="debit">Debit</a></li>
                    <li class="active"><a href="deposit">Deposit</a></li>
                    <li><a href="inquire">Inquire</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div>
        <form ng-submit="deposit(accountID, amount)">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="type your account id" ng-model="accountID" type="text" class="validate" required="" aria-required="true">
                    <label for="account_id">Account ID</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="amount" ng-model="amount" type="text" class="validate" required="" aria-required="true">
                    <label for="amount">Amount</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit"> deposit
                </button>
            </div>
        </form>
    </div>
      <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>
