<html lang="en">

<head>
    <% include partials/head %>
        <script src="/js/inquire.js"></script>
        <script src="/js/FileSaver.min.js"></script>
        <script src="/js/smart-table.js"></script>
        <title>Transaction Hitory</title>
</head>

<body ng-app="inquire" ng-controller="inquireController" class="mainContent">
    <div>
        <% include partials/top %>
    </div>
    <div>
        <nav>
            <div class="nav-wrapper blue lighten-1">
                <a href="#" class="brand-logo right">Elastic</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="index">Home</a></li>
                    <li><a href="balanceInquire">Balance Inquire</a></li>
                    <li><a href="debit">Debit</a></li>
                    <li><a href="deposit">Deposit</a></li>
                    <li class="active"><a href="inquire">Inquire</a></li>
                    <li><a href="accountManagement">Manage Account</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div>
        <!-- <a class="waves-effect waves-light btn" ng-click="thoughtputTest(100)">thoughtputTest</a> -->
        <a class="waves-effect waves-light btn" ng-click="getTransaction()">GET TRANSACTION HISTORY</a>
    </div>
    <div id="transactionTable" ng-show="showTable">
        <table st-table="hah" class="bordered highlight responsive-table ">
            <thead>
                <tr>
                    <th data-field="date">Date</th>
                    <th data-field="transaction_id">Transaction ID</th>
                    <th data-field="from">From</th>
                    <th data-field="type">Type</th>
                    <th data-field="amount">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactionHistory">
                    <td>{{ transaction.time | date:'medium'}}</td>
                    <td>{{ transaction.transaction_id}}</td>
                    <td>{{ transaction.account_id}}</td>
                    <td>{{ transaction.transaction_type}}</td>
                    <td>{{ transaction.amount | currency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <!--  <td colspan="5" class="text-center" st-pagination="" st-items-by-page="5" colspan="4">
                    </td> -->
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- <br> -->
    <div>
        <a class="waves-effect waves-light btn toRight" ng-click="exportData()" ng-show="showTable">Export</a>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>
