<html lang="en">

<head>
       <% include partials/head %>

    <style>
    .toRight {
        float: right;
    }
    </style>
    <script src="/js/inquire.js"></script>
    <script src="/js/FileSaver.min.js"></script>
    <script src="/js/smart-table.js"></script>
</head>

<body ng-app="inquire" ng-controller="inquireController" class="mainContent">
    <h3>Welcome to Elastic</h3>
    <div>
        <nav>
            <div class="nav-wrapper blue-grey ">
                <a href="#" class="brand-logo right">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="index">Home</a></li>
                    <li><a href="balanceInquire">Balance Inquire</a></li>
                    <li><a href="debit">Debit</a></li>
                    <li><a href="deposit">Deposit</a></li>
                    <li class="active"><a href="inquire">Inquire</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div>
        <a class="waves-effect waves-light btn" ng-click="thoughtputTest(100)">thoughtputTest</a>
        <a class="waves-effect waves-light btn" ng-click="getTransaction()">inquire</a>
    </div>
    <div id="transactionTable" ng-show="showTable">
        <table st-table="hah" class="bordered highlight responsive-table ">
            <thead>
                <tr>
                    <th data-field="date">Date</th>
                    <th data-field="transaction_id">Transaction ID</th>
                    <th data-field="from">From</th>
                    <th data-field="type">Type</th>
                    <th data-field="amount">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactionHistory">
                    <td>{{ transaction.time | date:'medium'}}</td>
                    <td>{{ transaction.transaction_id}}</td>
                    <td>{{ transaction.account_id}}</td>
                    <td>{{ transaction.transaction_type}}</td>
                    <td>{{ transaction.amount | currency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center" st-pagination="" st-items-by-page="5" colspan="4">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- 
    <div id="transactionTable" ng-show="showTable">
        <table class="bordered highlight responsive-table ">
            <thead>
                <tr>
                    <th data-field="date">Date</th>
                    <th data-field="transaction_id">Transaction ID</th>
                    <th data-field="from">From</th>
                    <th data-field="to">To</th>
                    <th data-field="amount">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactionHistory">
                    <td>{{ transaction.time | date:'medium'}}</td>
                    <td>{{ transaction.transaction_id}}</td>
                    <td>{{ transaction.account_id}}</td>
                    <td>{{ transaction.transaction_type}}</td>
                    <td>{{ transaction.amount | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <br>
    <div ng-show="showTable">
        count: {{count}}
    </div>
    <div>
        <a class="waves-effect waves-light btn toRight" ng-click="exportData()" ng-show="showTable">Export</a>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>
