<html lang="en">

<head>
    <% include partials/head %>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <script src="/js/signup.js"></script>
        <style>
        meter {
            /* Reset the default appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0 auto 1em;
            width: 100%;
            height: 0.5em;
            /* Applicable only to Firefox */
            background: none;
            background-color: rgba(0, 0, 0, 0.1);
        }
        
        meter::-webkit-meter-bar {
            background: none;
            background-color: rgba(0, 0, 0, 0.1);
        }
        
        meter[value="1"]::-webkit-meter-optimum-value {
            background: red;
        }
        
        meter[value="2"]::-webkit-meter-optimum-value {
            background: yellow;
        }
        
        meter[value="3"]::-webkit-meter-optimum-value {
            background: orange;
        }
        
        meter[value="4"]::-webkit-meter-optimum-value {
            background: green;
        }
        /* Gecko based browsers */
        
        meter[value="1"]::-moz-meter-bar {
            background: red;
        }
        
        meter[value="2"]::-moz-meter-bar {
            background: yellow;
        }
        
        meter[value="3"]::-moz-meter-bar {
            background: orange;
        }
        
        meter[value="4"]::-moz-meter-bar {
            background: green;
        }
        </style>
        <title>Sign Up</title>
        <% include partials/shared_js %>
</head>

<body ng-app="signup" ng-controller="signupController" class="mainContent">
    <div class="row">
        <h4>SIGN UP</h4>
        <div>
            <% if (message.length > 0) { %>
                <div class="card-content red-text flow-text">
                    <%= message %>
                </div>
                <% } %>
        </div>
    </div>
    <form class="col s12" method="post" action="/api/signup">
        <div class="row">
            <p>Personal Information</p>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" name="first_name" type="text" class="validate" ng-model="first_name" maxlength="20" required="" aria-required="true">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" name="last_name" type="text" class="validate" ng-model="last_name" maxlength="20" required="" aria-required="true">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="tel" class="validate" name="phone_number" ng-model="phone_number" pattern="[0-9]{10}" maxlength="10">
                <label for="phone_number">Phone Number</label>
            </div>
            <div class="input-field col s6">
                <input type="email" class="validate" name="email" ng-model="email" maxlength="30" required="" aria-required="true">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <select ng-model="selectedGender" name="gender" ng-options="x for x in genders">
                </select>
                <label>Gender</label>
                <!-- <p> you select {{selectedGender}}</p> -->
            </div>
            <div class="input-field col s4">
                <input type="date" id="birthdate" name="birthdate" ng-model="date_of_birth" max="2013-12-31" class="datepicker">
                <label for="birthdate">Date of Birth</label>
            </div>
            <div class="input-field col s4">
                <input ng-model="income" name="income" type="number" class="validate" maxlength="20" required="" aria-required="true">
                <label for="income">Annual Income</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="address" name="address" ng-model="address" type="text" class="validate">
                <label for="address">Address</label>
            </div>
        </div>
        <br>
        <p>Account Information</p>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" class="validate" ng-model="username" maxlength="20" required="" aria-required="true">
                <label for="username">username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" ng-model="password" maxlength="20" required="" aria-required="true">
                <label for="password">Password</label>
                <meter max="4" id="password-strength-meter"></meter>
                <p id="password-strength-text"></p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="confirmPassword" name="confirmPassword" type="password" class="validate" ng-model="confirmPassword" maxlength="20" required="" aria-required="true">
                <label for="confirmPassword">Confirm Password</label>
            </div>
        </div>
        <!--  <div class="row">
            <div class="g-recaptcha" data-sitekey="6LcgKAoUAAAAADv7uJlipSWqPXswGpQekLcwZeWC"></div>
        </div> -->
        <div class="row">
            <div class="col s8">
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" />
                    <label for="filled-in-box">I have read and agree to <a href="http://ec2-54-208-152-167.compute-1.amazonaws.com/privacyPolicy" target="_blank">the Privacy Policy</a></label>
                </p>
            </div>
            <div class="col s4">
                <p>Already have a account?</p>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <button id="submit" class="btn waves-effect waves-light" type="submit">SIGN UP</button>
            </div>
            <div class="col s4">
                <a class="btn waves-effect waves-light blue" href="index">LOGIN</a>
            </div>
        </div>
    </form>
    <footer>
        <div class="divider"></div>
        <% include partials/footer %>
    </footer>
</body>

</html>
