<html lang="en">

<head>
    <% include partials/head %>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style> 
    .toRight {
        float: right;
    }
    
    .center {
        position: relative;
        width: 100%;
    }
    /*.btn {
        width: 100px;
    }*/
    </style>
    <script src="/js/signup.js"></script>
</head>

<body ng-app="signup" ng-controller="signupController" class="mainContent">
    <div class="row">
        <h4>SIGN UP</h4>
        <p>Message<%= message %></p>
    </div>
    <form class="col s12" ng-submit = "signup()">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" name = "first_name" type="text" class="validate" ng-model="first_name">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" name = "last_name" type="text" class="validate" ng-model="last_name">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="userID" name = "userID" type="text" class="validate" ng-model="userID">
                <label for="userID">User ID</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name = "email" type="email" class="validate" ng-model="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name = "password" type="password" class="validate" ng-model="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="confirmPassword" name = "confirmPassword" type="password" class="validate" ng-model="confirmPassword">
                <label for="confirmPassword">Confirm Password</label>
            </div>
        </div>
       <!--  <div class="row">
            <div class="g-recaptcha" data-sitekey="6LcgKAoUAAAAADv7uJlipSWqPXswGpQekLcwZeWC"></div>
        </div> -->
        <div class="row">
            <div class="col s4">
                <button id="signupButton" class="btn waves-effect waves-light disabled" type="submit">SIGN UP</button>
            </div>
        </div>
    </form>
      <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>
