<html lang="en">

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="/js/login.js"></script>
    <style>
    .mainContent {
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        max-width: 1000px;
        position: relative;
        width: 100%;
    }
    
    .toRight {
        float: right;
    }
    
    .center {
        position: relative;
        width: 100%;
    }
    /*.btn {
        width: 100px;
    }*/
    </style>
</head>

<body ng-app="login" ng-controller="loginController" class="mainContent">
    <div class="row">
        <div class="col s12">
            <div class="card white darken-1 ">
                <div class="card-content black-text">
                    <div class="row">
                        <form class="col s6" ng-submit="login(username, password)">
                            <div class="row">
                                <span class="card-title">Log In</span>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" ng-model="username" type="text" class="validate" autocomplete="off" required="" aria-required="true">
                                    <label for="username">username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" ng-model="password" type="password" class="validate" required="" aria-required="true">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <button class="btn waves-effect waves-light" type="submit">Log in</button>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <P>Remember me</P>
                                        <label>
                                            No
                                            <input type="checkbox">
                                            <span class="lever"></span> Yes
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col s6">
                                    <p>Do not have an account? </p> <a class="btn waves-effect waves-light blue" href="signup.html">Sign up</a>
                                </div>
                                <div class="col s6">
                                    <p>Go back to home</p> <a class="btn waves-effect waves-light blue" href="index.html">Home</a>
                                </div>
                            </div>
                        </form>
                        <div class="col s6">
                            <img class="center" src="/images/logo.png" alt="Mountain View">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
